body{
    background: #000;
}

.header{
    height: 200vh;
    position: absolute;
    width: 100%;
    background: linear-gradient(to left, #40e0d0, #ff8c00, #ff0080);
    z-index: -99;
}

.splash{
    position: absolute;
    height: 100vh;
    width: 100%;
}

.splash>.background{
    position: absolute;
    font-size: 36vw;
    text-align: center;
    line-height: 50vh;
    color: rgba(255,255,255,0.33);
    z-index: -90;
}

.splash>.text{
    padding-top: 18vh;
    text-align: center;
    color: yellow;
    z-index: 100;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.splash>.text>h1{
    font-size: 14vw;
}

.splash>.scrollCTA{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: aquamarine;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.inter{
    top: 100vh;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    overflow-x: hidden;
}

.inter{
    padding: 4%;
    padding-top: 10%;
    color: rgba(255,255,0,0.5);
    font-size: 12vw;
    text-align: center;
    overflow: visible;
}

.inter>.text{
    z-index: 100;
    position: absolute;
    left: 0;
    margin-top: 28vh;
    width: 100%;
    color: plum;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.inter>.rellax{
    font-family: serif;
}

.content{
    position: relative;
    font-family: serif;
    top: 200vh;
    min-height: 100vh;
    padding: 5%;
    text-align: center;
    color: #fff;
    background: #000;
}

.content h2{
    color: yellow;
}

.content h1{
    color: aqua;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.content input{
    font-size: 2rem;
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

.footer{
    font-family: sans-serif;
    position: absolute;
    width: 90%;
    bottom: 0;
    color: #444;
}

@media screen and (max-width: 767px) {
    .splash>.background{line-height: 33vh;}
    .splash>.text>h1{font-size: 28vw;}
    .splash>.background{line-height: 33vh;}
    .inter{font-size: 24vw;}
    .inter>.rellax{height: 20vh;}
}